#content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 200px;
  }

  #content .titleArea h2::before {
    left: 490px;
  }

  .contentArea .intro {
    position: relative;
    text-align: center;
  }

  #view_title {
    padding: 35px;
    overflow: hidden;
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    border-top: 2px solid #d70c19;
    background: #fff3f5;

  }
  
  #view_title div {
    margin-right:8px;
  }

  #view_title div:first-child {
    font-weight: 700;
    font-size: 20px;
  }

  #view_title div:last-child {
    font-size: 16px;
    margin-top: 15px;
  }

  #view_content {
    padding: 45px 35px;
    text-align: justify;
    word-break: break-all;
    line-height: 2em;
    border-bottom: 1px solid #999;
  }
  
  #view_button {
    padding: 40px 30px;
    text-align: right;
  }

  #view_button a {
    padding:10px 18px;
    border-radius: 12px;
    border: none;
    background: #d70c19;
    color:#fff;
    cursor: pointer;
  }
  